name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.12"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip        
        pip install pylint fastapi pydantic streamlit  # Add other dependencies as needed

    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py') --disable=C0114,C0115,C0116,C0103,R1732,E1121,E1101,W0718,E0401,F0001,C0301,R0914 --max-line-length=120  # Disable missing docstring warnings
